<div class="row">
  <div class="col-md-6 col-md-offset-3 headspace">
    <h2><%= @user.name %></h2>
    <p>
      <% if @user.subject.nil? %>
        You should start learning a subject!
        <%= link_to "Learn a subject", new_subject_path %>
      <% else %>
        You are learning <%= @user.subject_name %>! Good luck.

        <p><%= @user.subject_name %>: <%= @user.subject_description %></p>
        <div class="actions">
        <%= link_to "Edit", edit_subject_path %>
        <%= link_to "Delete", @user.subject , method: :delete %>
        </div>
      <% end %>
    </p>
  </div>
</div>