<div class="col-md-3 col-lg-3 hidden-xs hidden-sm" id="leftCol">

  <ul class="nav nav-stacked headspace" id="sidebar">
    <% if @search.present? %>
        <li><p class="side_titles">YOU SEARCHED FOR</p></li>
        <li><h3 id="search_query"><%= @search %></h3></li>
    <% end %>
    <li>
      <% if @sortedCategories.present? %>
          <p class="side_titles">
            CATEGORIES
          </p>
            <% @sortedCategories.each do | category | %>
              <% if category == @filter %>
                  <% if @sort.present? %>
                      <p class="category_results" id="current"><%= category %></p>
                      <%= link_to subjects_path(sort: @sort, search: @search), class: "reset" do %>
                          <i class="fa fa-times"></i>
                      <% end %>
                  <% else %>
                      <p class="category_results" id="current"><%= category %></p>
                      <%= link_to subjects_path(search: @search)  , class: "reset" do%>
                          <i class="fa fa-times"></i>
                      <% end %>
                  <% end %>
              <% else %>
                  <% if @sort.present? %>
                      <%= link_to category, subjects_path(filter: category, sort: @sort, search: @search), class: "category_results" %>
                  <% else %>
                      <%= link_to category, subjects_path(filter: category, search: @search), class: "category_results" %>
                  <% end %>
              <% end %>
            <% end %>
          <p class="side_titles" id="sort">
            SORT BY
          </p>
          <% if "alphabetical" == @sort %>
              <p class="category_results" id="current">Subject Name</p>
              <% if @filter.present? %>
                  <%= link_to subjects_path(filter: @filter, search: @search), class: "reset" do %>
                      <i class="fa fa-times"></i>
                  <% end %>
              <% else %>
                  <%= link_to subjects_path(search: @search)  , class: "reset" do%>
                      <i class="fa fa-times"></i>
                  <% end %>
              <% end %>
          <% else %>
              <% if @filter.present? %>
                  <%= link_to "Subject Name", subjects_path(filter: @filter, sort: "alphabetical", search: @search), class: "category_results" %>
              <% else %>
                 <%= link_to "Subject Name", subjects_path(sort: "alphabetical", search: @search), class: "category_results" %>
              <% end %>
          <% end %>
          <% if "resource_count" == @sort %>
              <p class="category_results" id="current">Number of Resources</p>
              <% if @filter.present? %>
                  <%= link_to subjects_path(filter: @filter, search: @search), class: "reset" do %>
                      <i class="fa fa-times"></i>
                  <% end %>
              <% else %>
                  <%= link_to subjects_path(search: @search)  , class: "reset" do%>
                      <i class="fa fa-times"></i>
                  <% end %>
              <% end %>
          <% else %>
              <% if @filter.present? %>
                  <%= link_to "Number of Resources", subjects_path(filter: @filter, sort: "resource_count", search: @search), class: "category_results" %>
              <% else %>
                  <%= link_to "Number of Resources", subjects_path(sort: "resource_count", search: @search), class: "category_results" %>
              <% end %>
          <% end %>
      <% end %>
    </li>
  </ul>

</div>