<% provide(:title, "Edit Subject") %>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 headspace">
      <h2>What are you learning?</h2>
      <%= form_for @subject do |f| %>
        
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :description %> <br />
          <%= f.text_field :description, maxlength: 145, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :image, "Image URL" %><br />
          <%= f.text_field :image, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :tags, "Tags (seperate each one by a comma)" %>
          <%= f.text_field :tags, class: "form-control" %>
        </div>
        <p>Categories</p>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="field">
              <%= check_box_tag :gp, 'yes', @categories.include?("General-Purpose"), onClick: "CountChecksE('gp', '#{@subject.id}')" %>
              <%= label_tag(:gp, "General-Purpose") %>
            </div>
            <div class="field">
              <%= check_box_tag :wd, 'yes', @categories.include?("Web Development"), onClick: "CountChecksE('wd', #{@subject.id})" %>
              <%= label_tag(:wd, "Web Development") %>
            </div>
            <div class="field">
              <%= check_box_tag :md, 'yes', @categories.include?("Mobile Development"), onClick: "CountChecksE('md', #{@subject.id})" %>
              <%= label_tag(:md, "Mobile Development") %>
            </div>
            <div class="field">
              <%= check_box_tag :f, 'yes', @categories.include?("Frameworks"), onClick: "CountChecksE('f', #{@subject.id})" %>
              <%= label_tag(:f, "Frameworks") %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="field">
              <%= check_box_tag :mo, 'yes', @categories.include?("Mathematics-Oriented"), onClick: "CountChecksE('mo', #{@subject.id})" %>
              <%= label_tag(:mo, "Mathematics-Oriented") %>
            </div>
            <div class="field">
              <%= check_box_tag :dm, 'yes', @categories.include?("Database Manipulation"), onClick: "CountChecksE('dm', #{@subject.id})" %>
              <%= label_tag(:dm, "Database Manipulation") %>
            </div>
            <div class="field">
              <%= check_box_tag :cms, 'yes', @categories.include?("Content Management Systems"), onClick: "CountChecksE('cms', #{@subject.id})" %>
              <%= label_tag(:cms, "Content Management Systems") %>
            </div>
            <div class="field">
              <%= check_box_tag :other, 'yes', @categories.include?("Other"), onClick: "CountChecksE('other', #{@subject.id})" %>
              <%= label_tag(:other, "Other") %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Edit Subject", class:"btn btn-default botspace" %>
        </div>

      <% end %>
  </div>
</div>
