<% provide(:title, 'Subjects') %>
<div class="row">
    <%= render partial: "sidebar" %>
	<div class="col-md-7 col-md-offset-4 headspace">
		<div class="indexcol">
            <% if @subjects.present? %>
              <%= form_tag subjects_path, method: :get do %>
                  <div class="row">
                    <div class="col-lg-9 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-8 col-sm-offset-1 col-xs-6 col-xs-offset-1">
                      <%= text_field_tag :search, params[:search], placeholder: "Search for a programming language or framework", class:"form-control checktext", autofocus: :true %>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
                      <%= submit_tag "Browse Subjects", name: nil, class:"btn btn-default", id:"mainbutt" %>
                    </div>
                  </div>
              <% end %>
                <%= render @subjects %>
                <div class="apple_pagination">
                    <%= will_paginate %>
                </div>
                <p id="spacer">Can't find what you're looking for?</p>
                <!-- <p>Send an email to bobsinj@gmail.com and we'll add it for you.</p> -->
                <% if user_signed_in? %>
                  <p><%= link_to "Click here", new_subject_path, class:"links" %> to create a new subject.</p>
                <% else %>
                  <p><%= link_to "Log in", new_user_session_path, class:"links" %> to create a new subject.</p>
                <% end %>
            <% else %>
                <h4>Unfortunately, we have no results for your search.</h4>
                  <% if user_signed_in? %>
                      <p><%= link_to "Click here", new_subject_path, class:"links" %> to create a new subject.</p>
                  <% else %>
                      <p><%= link_to "Log in", new_user_session_path, class:"links" %> to create a new subject.</p>
                  <% end %>
            <% end %>


		</div>
	</div>
</div>