<% provide(:title, 'Subjects') %>
<div class="row viewheight">
    <%= render partial: "sidebar" %>
	<div class="col-lg-7 col-lg-offset-4 col-md-7 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 headspace">
		<div class="indexcol">
            <% if @subjects.present? %>
              <%= form_tag subjects_path, method: :get do %>
                  <div class="row">
                    <div class="col-lg-9 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-8 col-sm-offset-1 col-xs-12">
                      <%= text_field_tag :search, params[:search], placeholder: "Search for a programming language or framework", class:"form-control checktext", value: ""%>
                    </div>
                    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-2 col-sm-offset-0 hidden-xs">
                      <%= submit_tag "Browse Subjects", name: nil, class:"btn btn-default subjectbutt" %>
                    </div>
                  </div>
                  <div class="row hidden-sm hidden-md hidden-lg">
                    </br>
                    <div class="col-xs-12" id="indexbutt">
                      <%= submit_tag "Browse Subjects", name: nil, class:"btn btn-default subjectbutt" %>
                    </div>
                  </div>
              <% end %>
                <%= render @subjects %>
                <div class="apple_pagination">
                    <%= will_paginate %>
                </div>
                <p id="spacer">Can't find what you're looking for?</p>
                  <% if user_signed_in? %>
                      <div class="index_butt">
                        <%= link_to "Click here to add a subject", new_subject_path, class:"botspace" %>
                      </div>
                  <% else %>
                      <div class="index_butt">
                        <%= link_to "Log in to add a subject", new_user_session_path, class:"botspace" %>
                      </div>
                  <% end %>
            <% else %>
                <h4>Unfortunately, we have no results for your search.</h4>
                <div class="index_butt">
                  <% if user_signed_in? %>
                      <p><%= link_to "Click here", new_subject_path, class:"links" %> to create a new subject.</p>
                  <% else %>
                      <p><%= link_to "Log in", new_user_session_path, class:"links" %> to create a new subject.</p>
                  <% end %>
                </div>
            <% end %>


		</div>
	</div>
</div>