<% provide(:title, 'New Subject') %>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 headspace">
      <h2>What are you learning?</h2>
      <%= form_for @subject do |f| %>
        
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :description %> <br />
          <%= f.text_field :description, maxlength: 145, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :image, "Image URL" %><br />
          <%= f.text_field :image, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :tags, "Tags (seperate each one by a comma)" %>
          <%= f.text_field :tags, class: "form-control" %>
        </div>
        <p>Categories</p>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="field">
                  <%= check_box_tag :gp, 'yes', false, onClick: "CountChecks('gp')" %>
                  <%= label_tag(:gp, "General-Purpose") %>
                </div>
                <div class="field">
                  <%= check_box_tag :wd, 'yes', false, onClick: "CountChecks('wd')" %>
                  <%= label_tag(:wd, "Web Development") %>
                </div>
                <div class="field">
                  <%= check_box_tag :md, 'yes', false, onClick: "CountChecks('md')" %>
                  <%= label_tag(:md, "Mobile Development") %>
                </div>
                <div class="field">
                  <%= check_box_tag :f, 'yes', false, onClick: "CountChecks('f')" %>
                  <%= label_tag(:f, "Frameworks") %>
                </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="field">
                  <%= check_box_tag :mo, 'yes', false, onClick: "CountChecks('mo')" %>
                  <%= label_tag(:mo, "Mathematics-Oriented") %>
                </div>
                <div class="field">
                  <%= check_box_tag :dm, 'yes', false, onClick: "CountChecks('dm')" %>
                  <%= label_tag(:dm, "Database Manipulation") %>
                </div>
                <div class="field">
                  <%= check_box_tag :cms, 'yes', false, onClick: "CountChecks('cms')" %>
                  <%= label_tag(:cms, "Content Management Systems") %>
                </div>
                <div class="field">
                  <%= check_box_tag :other, 'yes', false, onClick: "CountChecks('other')" %>
                  <%= label_tag(:other, "Other") %>
                </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Add Subject", class:"btn btn-default botspace" %>
        </div>

      <% end %>
  </div>
</div>
