<div class="row">
  <div class="col-md-6 col-md-offset-3 headspace">
      <h2>What are you learning?</h2>
      <%= form_for @subject do |f| %>
        
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :description %> <br />
          <%= f.text_field :description, class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Start learning", class:"btn btn-default" %>
        </div>

      <% end %>
  </div>
</div>