<% provide(:title, @subject.name) %>
<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 left_subject hidden-xs">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 hidden-xs">
        <img src="<%= @subject.image %>" alt="" class="subject_image"/>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 subject_details">
        <h1 class="subject_title"><%= @subject.name %></h1>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <p class="subject_description"><%= @subject.description %></p>
          </div>
        </div>
        <div class="subject_tags">
            <% @subject.tags.split(',').each do |tag| %>
                <div class="tags"><%= tag %></div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="subject_button">
                    <% if user_signed_in? %>
                        <% if current_user.subject == @subject %>
                            <%= link_to "Add a resource", new_resource_path, class:"subject_butt" %>
                        <% else %>
                            <%= link_to "I want to learn #{@subject.name}", add_subject_path(@subject), method: :post, class:"subject_butt" %>
                        <% end %>
                    <% else %>
                        <%= link_to "Log in to learn #{@subject.name}", new_user_session_path, class:"subject_butt" %>
                    <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>
    </br>
    <div class="row hidden-xs col-md-12 col-sm-12 col-lg-12 subject_stats">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <p>Users Learning</p>
        <p class="main_stat"><%= User.where(subject_id: @subject.id).count %></p>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <p>Resources</p>
        <p class="main_stat"><%= @resources.count %></p>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <p>Average Rating</p>
        <p class="main_stat">
          <% totalSum = 0.0 %>
          <% count = 0 %>
          <% if @resources.present? %>
            <% @resources.each do |resource| %>
              <% ratings = Rating.where(resource_id: resource.id) %>
              <% ratings.each do | rating | %>
                  <% totalSum += rating.value %>
                  <% count += 1 %>
              <% end %>
            <% end %>
          <% end %>
          <% nan = totalSum / count %>
          <%= (nan.is_a?(Float) && nan.nan?) ? 0 : nan.round(2) %>
        </p>
      </div>
    </div>
  </div>
  <div class="hidden-sm hidden-md col-xs-12 hidden-lg headspace subject_details">
    <h1 class="subject_title"><%= @subject.name %></h1>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <p class="subject_description"><%= @subject.description %></p>
      </div>
    </div>
    <div class="subject_tags">
      <% @subject.tags.split(',').each do |tag| %>
          <div class="tags"><%= tag %></div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="subject_button">
          <% if user_signed_in? %>
              <% if current_user.subject == @subject %>
                  <%= link_to "Add a resource", new_resource_path, class:"links subject_butt" %>
              <% else %>
                  <%= link_to "I want to learn #{@subject.name}", add_subject_path(@subject), method: :post, class:"links subject_butt" %>
              <% end %>
          <% else %>
              <%= link_to "Log in to learn #{@subject.name}", new_user_session_path, class:"links subject_butt" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-5 hidden-xs right_subject">
    <div>
      <h1>Resources</h1>
        <% if @resources.present? %>
            <% @resources.each do |resource| %>
                <div class="resource">
                  <h4>
                    <%= link_to resource.title, resource.link, target: "_blank" %>
                  </h4>
                  <h5><%= resource.difficulty %> - <%= resource.source %></h5>
                  <% ratings = Rating.where(resource_id:resource.id) %>
                  <% sum = 0.0 %>
                  <% ratings.each do | rating | %>
                      <% sum += rating.value %>
                  <% end %>
                  <% if ratings.present? %>
                      <p>Current Rating - <%= (sum / ratings.count).round(2) %></p>
                  <% end %>
                  <% if user_signed_in? && !current_user.ratings.where(resource_id: resource).exists? %>
                      <%= link_to "Rate me!", new_rating_path(resource_id: resource), class:"links" %>
                  <% end %>  
                </div>
            <% end %>
        <% else %>
            <h3>Unfortunately, we have no resources for this subject</h3>
              <% if user_signed_in? %>
                  <% if current_user.subject == @subject %>
                      <%= link_to "Add a resource", new_resource_path, class:"links subject_butt" %>
                  <% else %>
                      <%= link_to "Start learning #{@subject.name} to add a resource", add_subject_path(@subject), method: :post, class:"links subject_butt" %>
                  <% end %>
              <% else %>
                <%= link_to "Log in to learn #{@subject.name} and add a resource", new_user_session_path, class:"links subject_butt" %>
              <% end %>

        <% end %>
    </div>
  </div>
  <div class="hidden-md hidden-sm hidden-lg col-xs-12">
    <h1>Resources</h1>
    <% if @resources.present? %>
        <% @resources.each do |resource| %>
            <div class="resource">
              <h4>
                <%= link_to resource.title, resource.link, target: "_blank" %>
              </h4>
              <h5><%= resource.difficulty %> - <%= resource.source %></h5>
              <% ratings = Rating.where(resource_id:resource.id) %>
              <% sum = 0.0 %>
              <% ratings.each do | rating | %>
                  <% sum += rating.value %>
              <% end %>
              <% if ratings.present? %>
                  <p><%= (sum / ratings.count).round(2) %></p>
              <% end %>
              <% if user_signed_in? && !current_user.ratings.where(resource_id: resource).exists? %>
                  <%= link_to "Rate me!", new_rating_path(resource_id: resource), class:"links" %>
              <% end %>
            </div>
        <% end %>
    <% else %>
        <h3>Unfortunately, we have no resources for this subject</h3>
        <% if user_signed_in? %>
            <% if current_user.subject == @subject %>
                <%= link_to "Add a resource", new_resource_path, class:"links subject_butt" %>
            <% else %>
                <%= link_to "Start learning #{@subject.name} to add a resource", add_subject_path(@subject), method: :post, class:"links subject_butt" %>
            <% end %>
        <% else %>
            <%= link_to "Log in to learn #{@subject.name} and add a resource", new_user_session_path, class:"links subject_butt" %>
        <% end %>

    <% end %>
  </div>
</div>