<% provide(:title, @subject.name) %>
<div class="row">
  <div class="col-md-6 left_subject">
    <div class="row">
      <div class="col-md-6">
        <img src="<%= @subject.image %>" alt="" class="subject_image"/>
      </div>
      <div class="col-md-6 subject_details">
        <h1 class="subject_title"><%= @subject.name %></h1>
        <p class="subject_description"><%= @subject.description %></p>
        <div class="subject_tags">
            <% @subject.tags.split(',').each do |tag| %>
                <div class="tags"><%= tag %></div>
            <% end %>
        </div>
        <div class="subject_button">
            <% if user_signed_in? %>
                <% if current_user.subject == @subject %>
                    <%= link_to "Add a resource", new_resource_path, class:"links subject_butt" %>
                <% else %>
                    <%= link_to "I want to learn #{@subject.name}", add_subject_path(@subject), method: :post, class:"links subject_butt" %>
                <% end %>
            <% else %>
                <%= link_to "Log in to learn #{@subject.name}", new_user_session_path, class:"links subject_butt" %>
            <% end %>
        </div>
      </div>

    </div>
    </br>
    <div class="row">
      <div class="col-md-4 subject_stats">
        <p>Users Learning</p>
        <p class="main_stat"><%= User.where(subject_id: @subject.id).count %></p>
      </div>
      <div class="col-md-4 subject_stats">
        <p>Resources</p>
        <p class="main_stat"><%= @resources.count %></p>
      </div>
      <div class="col-md-4 subject_stats">
        <p>Average Rating</p>
        <p class="main_stat">
          <% totalSum = 0.0 %>
          <% count = 0 %>
          <% if @resources.present? %>
            <% @resources.each do |resource| %>
              <% ratings = Rating.where(resource_id: resource.id) %>
              <% ratings.each do | rating | %>
                  <% totalSum += rating.value %>
                  <% count += 1 %>
              <% end %>
            <% end %>
          <% end %>
          <% nan = totalSum / count %>
          <%= (nan.is_a?(Float) && nan.nan?) ? 0 : nan %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 right_subject">
    <div>
      <h1>Resources</h1>
        <% if @resources.present? %>
            <% @resources.each do |resource| %>
                <div class="resource">
                  <h4>
                    <%= link_to resource.title, resource.link, target: "_blank" %>
                  </h4>
                  <h5><%= resource.difficulty %> - <%= resource.source %></h5>
                  <% ratings = Rating.where(resource_id:resource.id) %>
                  <% sum = 0.0 %>
                  <% ratings.each do | rating | %>
                      <% sum += rating.value %>
                  <% end %>
                  <% if ratings.present? %>
                      <p><%= sum / ratings.count %></p>
                  <% end %>
                  <% if user_signed_in? %>
                    <% if current_user.subject == @subject %>
                      <%= link_to "Rate me!", new_rating_path(resource_id: resource), class:"links" %>
                    <% end %>
                  <% end %>  
                </div>
            <% end %>
        <% else %>
            <h3>Unfortunately, we have no resources for this subject</h3>
              <% if user_signed_in? %>
                  <% if current_user.subject == @subject %>
                      <%= link_to "Add a resource", new_resource_path, class:"links subject_butt" %>
                  <% else %>
                      <%= link_to "Start learning #{@subject.name} to add a resource", add_subject_path(@subject), method: :post, class:"links subject_butt" %>
                  <% end %>
              <% else %>
                <%= link_to "Log in to learn #{@subject.name} and add a resource", new_user_session_path, class:"links subject_butt" %>
              <% end %>

        <% end %>

    </div>
  </div>
</div>