<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Josefin Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="We help you find the best learning material for all programming languages and frameworks. Sign up and contribute to the vast database of technology learning resources!">
  <meta name="keywords" content="<% Subject.all.each do | subject | %><%= subject.name %> <% end %>">
  <meta name="author" content="Anthony Bobsin">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</body>
</html>
